@import 'variables';

$background-img: url('https://i.imgur.com/QoGVKoK.jpg');

html {
  font-size: 14pt;
}

body {
  background-image: $background-img;
  color: $red-dark;
  font-family: $font-body;
  margin: 3rem;
}

header {
  background-color: $yellow;
  padding: 2rem;
  margin: 1rem;
}

nav {
  
  a {
    text-decoration: none;

    .active {
      font-weight: 700;
    } 
  }
}

a {
  padding: 1rem 2rem 0 0;
}

form {
  color: white;
  display: block;
  margin-right: 1rem;
}

input {
  display: block;
  margin: .5rem 0;
}

h1 {
  font-family: $font-title;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.home {
  background-color: $red-dark;
  color: white;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}

.main {
  background-color: $red-light;
  color: white;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}

.auth {
  background-color: $orange;
  color: white;
  padding: 2rem;
  margin: 1rem;
}

// .user-info {

// }