@import 'variables';

$background-img: url('https://i.imgur.com/QoGVKoK.jpg');

html {
  font-size: 14pt;
}

body {
  background-image: $background-img;
  color: $red-dark;
  font-family: $font-body;
  margin: 3rem;
  font-weight: normal;
}

header {
  background-color: $yellow;
  padding: 2rem;
  margin: 1rem;

  .games {
    padding-top: 1rem;
  }
}

nav {
  a, button {
    text-decoration: none;
    color: $orange;
    border: 0px;
    background: none;
    font-size: inherit;
    font-family: inherit;


    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }


  }

  .active-style {
    color: white;
  }
}

a {
  padding: 1rem 2rem 0 0;
}

form {
  color: white;
  display: block;
  margin-right: 1rem;
}

input {
  display: block;
  margin: .5rem 0;
}

h1 {
  font-family: $font-title;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.home {
  background-color: $red-dark;
  color: white;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}

.main {
  background-color: $red-light;
  color: white;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}

.auth {
  background-color: $orange;
  color: white;
  padding: 2rem;
  margin: 1rem;
}

// GAME VIEWS
.game-index-wrapper {
  text-align: center;
}

.game-preview {
  display: inline-flex;
  border: 3px solid white;
  margin: .5rem;
  padding: .5rem;

  h4 {
    padding: .5rem;
    margin: 0;
  }

  .score {
    border-top: 1px solid black;
  }

  .game-over {
    background: $red-light;
  }

  .in-progress {
    background: $yellow;
  }
}
