//  Grayscale
$grayscale-1: #1d1e20;
$grayscale-2: #fbfbfbbf;
$grayscale-3: #61646b;
$grayscale-4: #94989e;
$grayscale-5: #bfc1c540;

$black-5: #0000000d;
$black-10: #0000001a;
$black-15: #00000026;
$black-25: #00000040;
$black-20: #00000033;
$black-30: #0000004d;
$black-40: #00000066;
$black-50: #00000080;
$black-75: #000000bf;
$black-85: #000000d9;
$black-100: #000000;

$white-10: #ffffff1a;
$white-15: #ffffff26;
$white-20: #ffffff33;
$white-25: #ffffff40;
$white-30: #ffffff4d;
$white-35: #ffffff59;
$white-40: #ffffff66;
$white-50: #ffffff80;
$white-60: #ffffff80;
$white-75: #ffffffbf;
$white-85: #ffffffd9;
$white-100: #ffffff;

// Colors
$bright-pop: #bdff00;
$bright-pop-75: #bdff00bf;
$bright-pop-50: #bdff0080;
$bright-pop-25: #bdff0040;
$bright-pop-10: #bdff001a;

$medium-pop: #6ce36b;
$medium-pop-75: #6ce36bbf;
$medium-pop-50: #6ce36b80;
$medium-pop-25: #6ce36b40;
$medium-pop-10: #6ce36b1a;

$low-pop: #1ec9cc;
$low-pop-75: #1ec9ccbf;
$low-pop-50: #1ec9cc80;
$low-pop-25: #1ec9cc40;
$low-pop-10: #1ec9cc1a;

$lower-pop: #006f86;
$lower-pop-75: #006f86bf;
$lower-pop-50: #006f8680;
$lower-pop-25: #006f8640;
$lower-pop-10: #006f861a;

$danger: #ff6262;
$success: $medium-pop;

//  Fonts
$title-font: 'Bungee Outline', sans-serif;
$title-alt-font: 'Bungee Inline', sans-serif;
$body-font: 'Montserrat', sans-serif;

//  Banner Overlays
$banner-gradient-color-a: #00000040;
$banner-gradient-color-b: #00000080;
$banner-gradient-color-c: #00000000;

$banner-overlay: linear-gradient(
  90deg,
  $banner-gradient-color-a 0%,
  $banner-gradient-color-b 10%,
  $banner-gradient-color-c 100%,
);

$center-overlay: radial-gradient(
  $black-20 0%,
  $black-10 100%,
);

$gradient-colors: linear-gradient(270deg, $bright-pop-25 0%, $medium-pop-25 25%, $low-pop-25 75%, $lower-pop-25 100%);
$gradient-colors-inverse: linear-gradient(90deg, $bright-pop-25 0%, $medium-pop-25 25%, $low-pop-25 75%, $lower-pop-25 100%);

// Header
$header-box-shadow: inset 0 0 1.3rem $black-50;

//  Index
$preview-shadow-hover: 0 0 2rem $white-50;
$preview-shadow-inset: inset 0 0 1rem $black-40, inset 0 0 3rem $black-10, inset .5rem .5rem 1rem $black-25;
$preview-shadow-in-progress: $preview-shadow-inset, inset 0 0 1.5rem $black-10;
$preview-shadow-game-over: $preview-shadow-inset, inset 0 0 1.5rem $black-100;

//  Gameboard
$board-box-shadow: inset 0 0 3rem $black-30, inset 0 0 .5rem $black-10, inset 1rem 1rem 2rem $black-30, inset -.5rem -.5rem 2rem $black-20;
$board-background: $white-10;

$pocket-box-shadow-valid: inset 1rem 1rem 1rem $black-10, inset 0 0 3rem $black-20, 0 0 1.5rem $white-100, 0 0 .5rem $white-85;
$pocket-box-shadow-invalid: inset 1rem 1rem 1rem $black-10, inset 0 0 3rem $black-20, inset 0 0 1rem $black-10, 0 0 1.5rem $black-10;
$pocket-background-a: radial-gradient($bright-pop-25 0%, $medium-pop-25 75%);
$pocket-background-b: radial-gradient($low-pop-25 50%, $lower-pop-25 100%);

$game-piece-color: $black-85;
$game-piece-gradient: radial-gradient(circle, $white-85 10%, $white-30 100%);

$game-info-span-shadow: inset 0 0 .5rem $black-20, inset 0 0 1rem $black-30, 0 0 .5rem $white-85, 0 0 1.2rem $white-85;
$game-info-text-shadow: 0 0 .5rem $black-30;


//  Buttons
$button-background: $white-20;
$button-shadow-hover: 0 0 .5rem $white-100;
$button-shadow-black: 0 0 .5rem $black-50;
$button-shadow-inset: inset .1rem .1rem .5rem $black-50;
$button-shadow-low-pop: 0 0 .5rem $low-pop-75;
$button-text-shadow-white: 0 0 .5rem $white-50;
$button-shadow-white: 0 0 3rem $white-35, 0 0 1rem $black-50;

$big-button-shadow-inset: inset 0 0 1rem $black-20, inset 0 0 3rem $black-15;
$big-button-background: $pocket-background-b;
$big-button-background-hover: $pocket-background-a, $black-10;
$big-button-text-shadow: 0 0 .04rem $black-50;

$form-input: $white-35;

//  Layout
$container-element-padding: 2rem 1rem;